name: Publish NiaARM to PyPI
on:
  release:
    types:
      - published

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
